<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% if lecturers_list.count > 0 %}
        <h2>{{ selected_subject }} Lecturers</h2>
        {% for rec in lecturers_list %}
            <ul><h3><li> {{ rec.name }} </li></h3></ul>
        {% endfor %}
        {% if lecturers_list.count == 1 %}
            <h3>Total {{ lecturers_list.count }} Lecturer</h3>
            {% else %}
                <h3>Total {{ lecturers_list.count }} Lecturers</h3>
        {% endif %}
    {% else %}
        <h3>Sorry there are no Lecturers for {{ selected_subject }} Subject.</h3>
    {% endif %}

</body>
</html>